<div class="d-flex">
  <div class="card d-flex" style="width: 18rem;background:lightblue;color:white;">
    <div class="card-body">
      <h5 class="card-title"><i>{{p['partnerName']}}</i></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary" style="color:white"><i>{{p['partnerLink']}}</i></h6>
      <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of the card’s content.</i></p>
      <a href="#" class="card-link" style="text-decoration:none;color:white;"><i>Card link</i></a>
    </div>
  </div>
</div>